:root {
	--color-white: #ffffff;
	--color-black: #000000;
	--bg-big-screen: #efefef;
	--bg-small-screen: #333333;
	--tile-bg-dark: #2f454e;
	--tile-bg-light: #6f9bab;
	--tile-bg: #72c3dc;
	--tile-bg-gray: #bfbfbf;
	--tile-bg-small: var(--bg-big-screen);
	--btn-bg: var(--tile-bg);
	--btn-shadow: var(--tile-bg-dark);
	--btn-pressed-bg: var(--tile-bg-light);

	--card-size-big: 25vw;
	--card-height-small: 30px;
}

* {
	line-height: 1;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
}
body {
	display: block;
}
.container {
	margin: 0 auto;
	width: 100vw;
	height: 90vh;
	background-color: var(--bg-big-screen);
}
h1 {
	text-align: center;
	font-weight: 100;
	font-size: 40px;
}
h3 {
	text-align: center;
	padding: 5px;
	font-size: 15px;
	font-weight: 100;
}
.tools {
	float: left;
	max-width: 220px;
	clear: right;
}
.grid-container {
	display: grid;
	width: calc(3 * var(--card-size-big));
	grid-auto-rows: var(--card-size-big);
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 0px;
	float: left;
}
.card {
	text-align: center;
	line-height: var(--card-size-big);
	vertical-align: middle;
	font-size: 90px;
	color: var(--color-white);
	background-color: var(--tile-bg);
}
.card-dark {
	background-color: var(--tile-bg-dark);
}
.card-light {
	background-color: var(--tile-bg-light);
}
.card-gray {
	background-color: var(--tile-bg-gray);
}
.btn {
	margin: 10px;
	width: 210px;
	height: 50px;
	border: 0px;
	outline: none;
	float: left;
	border-radius: 5px;
	background-color: var(--btn-bg);
	color: var(--color-white);
	box-shadow: 0px 3px 2px 0px var(--btn-shadow);
	text-transform: uppercase;
}
.btn:active {
	background-color: var(--btn-pressed-bg);
}
.btn-small {
	float: left;
	margin: 0 10px 10px 10px;
	width: 120px;
	height: 30px;
	font-size: 12px;
}
.tools-small {
	display: none;
}
@media only screen and (max-width: 375px) {
	body {
		background-color: var(--bg-small-screen);
		padding: 5px;
	}
	h1 {
		padding-top: 10px;
		padding-bottom: 5px;
		color: var(--bg-big-screen);
		font-size: 15px;
	}
	h3 {
		padding: 5px;
		font-size: 12px;
	}
	.container {
		padding: 5px;
		width: 355px;
		background-color: var(--color-white);
	}
	.grid-container {
		width: 100%;
		grid-auto-rows: var(--card-height-small);
		grid-template-columns: 1fr;
	}
	.card {
		margin-bottom: 3px;
		text-align: center;
		line-height: var(--card-height-small);
		vertical-align: middle;
		font-size: 12px;
		color: var(--color-black);
		background-color: var(--tile-bg-small);
		border: none;
		border-left: 5px solid var(--tile-bg);
	}
	.card-dark {
		border-left: 5px solid var(--tile-bg-dark);
	}
	.card-light {
		border-left: 5px solid var(--tile-bg-light);
	}
	.card-gray {
		border-left: 5px solid var(--tile-bg-gray);
	}
	.tools {
		display: none;
	}
	.tools-small {
		display: block;
		margin: 0 auto 20px auto;
		width: 280px;
	}
}
